:root {
	--admin-redesign-surface-dark-primary: #1e1e1e;
	--admin-redesign-surface-light-primary: #fff;
}

body {
	background-color: var(--admin-redesign-surface-dark-primary) !important;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

