.wp-core-ui {

	input[type="text"],
	input[type="password"],
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select,
	.media-frame select,
	textarea {
		min-height: 42px;
	}
	
	select,
	.media-frame select {

		&:hover {
			color: var(--admin-redesign-action-primary);
		}
		
		&:focus {
			border-color: var(--admin-redesign-action-primary);
			box-shadow: 0 0 0 1px var(--admin-redesign-action-primary);
			color: var(--admin-redesign-action-primary);
		}
	}

	& input[type="checkbox"] {
		appearance: none;
		border: 1px solid #cecece;
		border-radius: 4px;
		display: inline-flex;
		height: 16px;
		position: relative;
		width: 16px;

		&:checked {
			align-items: center;
			background-color: var(--admin-redesign-action-primary);
			border-color: var(--admin-redesign-action-primary);
			flex-direction: column;
			justify-content: center;

			&::before {
				align-items: center;
				content: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1L4 8L1 5" stroke="%23F9FFFF" stroke-width="1.5"/></svg>');
				display: flex;
				height: 14px;
				justify-content: center;
				left: 50%;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
			}
		}
	}

	& input[type="radio"]:checked::before {
		background-color: var(--admin-redesign-action-primary);
	}
}

