
.wp-core-ui .notice {
	align-items: center;
	background-color: var(--wp-components-color-background, #fff);
	border: none;
	border-inline-start: 4px solid var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
	box-shadow: none;
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
	padding: 8px 12px;

	&.updated,
	&.notice-success {
		--wp-components-color-accent: #4ab866;
		--wp-components-color-background: #eff9f1;
	}

	&.error,
	&.notice-error {
		--wp-components-color-accent: #cc1818;
		--wp-components-color-background: #f4a2a2;
	}

	&[aria-hidden="true"],
	&.hidden {
		display: none;
	}
}
