#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
	background-color: transparent !important;
}

ul#adminmenu a.wp-has-current-submenu::after,
ul#adminmenu > li.current > a.current::after {
	display: none;
}

#adminmenu {

	& li.menu-top {
		background-color: transparent !important;

		& a.menu-top {
			border: none;
			border-radius: 2px;
			box-shadow: none;
		}

		&:hover,
		&:focus {

			& a.menu-top {
				background-color: var(--admin-redesign-surface-dark-secondary) !important;
			}

			& > a.menu-top.wp-has-current-submenu {
				background-color: var(--admin-redesign-action-primary) !important;
			}
		}

		&:hover,
		&:focus,
		&.opensub {
			background-color: transparent !important;

			& > a.menu-top {
				border: none;
				box-shadow: none;
			}
		}

		&.current a.menu-top {
			background-color: var(--admin-redesign-action-primary) !important;
		}
	}

	& .wp-menu-name {
		padding: 8px 6px 8px 16px;
	}
	
	& a.menu-top {
		border-radius: 2px;
		overflow: clip;
	}
	
	& .wp-menu-open {
	
		&::after {
			display: none;
		}
	}
	
	& .wp-submenu {
		padding: 4px;
		width: 100% !important;

		& a {
			border-radius: 2px;
		}
	}
	
	& .wp-has-current-submenu .wp-submenu {
		background-color: transparent;
	}
}

