.nav-tab-wrapper,
.filter-links {
	align-items: flex-end;
	border-bottom: unset;
	display: flex;
	flex-direction: row;
	gap: 0;
}

.nav-tab,
.filter-links[class] a {
	align-items: center;
	background-color: transparent;
	border: none;
	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: 2px !important;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin: 0;
	margin: 0;
	outline-offset: 2px;
	padding-block: 8px;
	padding-inline: 16px;
	text-align: center;

	&:hover,
	&:focus {
		background-color: transparent;
		color: var(--admin-redesign-action-primary);
	}
}

.nav-tab-active,
.filter-links a.current {
	border-bottom-color: var(--admin-redesign-action-primary) !important;
}
