.wp-list-table {
	border: none !important;
	border-collapse: collapse;
	box-shadow: none !important;
	
	&.widefat thead th,
	&.widefat thead td {
		border: unset !important;
		font-weight: 600;
	}
	
	&.widefat tfoot th,
	&.widefat tfoot td {
		border: unset !important;
	}

	& th.sortable a,
	& th.sorted a,
	& th.manage-column:where(:not(:has(a))) {
		padding-block: 12px;
	}
	
	& tbody tr {
		background-color: var(--admin-redesign-surface-light-primary) !important;
		border-top: 1px solid var(--admin-redesign-border) !important;
	
		&:last-child {
			border-bottom: 1px solid var(--admin-redesign-border) !important;
		}
	
		&:hover {
			background-color: var(--admin-redesign-surface-light-secondary) !important;
		}

		& :is(td, th) {
			padding-block: 12px;
		}
	}
}

.tablenav {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	height: fit-content;
	width: 100%;

	&.top {
		margin-bottom: 12px;
	}

	&.bottom {
		margin-top: 12px;
	}
	
	& .tablenav-pages {
		float: none;
		margin: 0;
		margin-inline-start: auto;
	}
}
