:root {
	--wp--footer--height: 40px;
	--wp-sidebar-width: 300px;
}

body {

	&.folded {
		--wp-sidebar-width: 70px;
	}
}


#wpwrap {
	display: grid;
	grid-template-areas: "admin-menu admin-content" "footer footer";
	grid-template-columns: var(--wp-sidebar-width) 1fr;
	grid-template-rows: calc(100dvh - var(--wp-admin--admin-bar--height) - var(--wp--footer--height)) var(--wp--footer--height);
	height: calc(100dvh - var(--wp-admin--admin-bar--height));
	padding-right: 16px;
	position: fixed;
	top: var(--wp-admin--admin-bar--height);
	width: 100%;

}

body.block-editor-page {
	--wp--footer--height: 16px;

	& #wpwrap {
		grid-template-areas: "admin-menu admin-content";
		grid-template-columns: var(--wp-sidebar-width) 1fr;
		grid-template-rows: calc(100dvh - var(--wp-admin--admin-bar--height));
	}

	&.is-fullscreen-mode #wpwrap {
		display: block;
		grid-template-areas: none;
		grid-template-columns: unset;
		grid-template-rows: unset;
		height: 100vh;
		padding-right: 0;
		top: 0;

		& #wpcontent,
		& #wpbody-content {
			border-radius: 0;
			height: 100%;
			margin: 0;
			overflow-y: auto;
		}
	}
}


#wpcontent,
#wpbody-content {
	background-color: var(--admin-redesign-surface-light-primary) !important;
	border-radius: 8px;
	grid-area: admin-content;
	height: calc(100dvh - var(--wp-admin--admin-bar--height) - var(--wp--footer--height));
	margin: 0 !important;
	overflow-y: scroll;
	width: 100%;

	& .interface-interface-skeleton {
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}

	& .block-editor__container {
		min-height: 100%;
	}
}

#wpbody {
	height: 100%;
	overflow: scroll;
}

#wpfooter {
	align-items: center;
	color: var(--admin-redesign-surface-light-primary);
	display: flex;
	grid-area: footer;
	justify-content: space-between;
	margin-left: var(--wp-sidebar-width);
	padding-inline: 0;

	& a {
		color: var(--admin-redesign-surface-light-primary);
	}

	& .clear {
		display: none;
	}
}

#adminmenuback,
#adminmenuwrap,
#adminmenu {
	width: var(--wp-sidebar-width);
}

#adminmenumain {
	position: relative;
}

#adminmenu {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	gap: 4px;
	grid-area: admin-menu;
	height: calc(100dvh - var(--wp-admin--admin-bar--height));
	justify-content: stretch;
	padding-block: 16px;
	padding-block-end: 32px;
	padding-inline: 16px;

	& li.menu-top {
		min-height: unset;
	}
}

#adminmenu .wp-submenu {
	left: calc(var(--wp-sidebar-width) - 2 * 16px);
}

.wp-menu-separator {
	background-color: transparent !important;
}


#adminmenu a:hover,
#adminmenu a:focus,
.folded #adminmenu .wp-submenu-head:hover {
	box-shadow: none;
}
